<!-- <div class="bg-img">
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Demo App</a>
        </div>
        <div class="top-right">
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About Us</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Employers</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
    </div>
</div>
</nav>
</div>
</div> -->
<!-- <div class="footer">
        <h4>We're leaders in</h4>
        <h2>Creative Digital Recruitment</h2>
        <b>10%</b>
        <hr width="10%" align="center">
    </div> -->

<!-- Footer -->
<!-- <footer class="app-footer">
<div class="footer-copyright text-center py-3">Subscribe to our  Job Seeker Mailing List

</div>
      <div class="col-md-6 mb-4">

        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
          </div>
        </form>

      </div>  
      
      </footer> -->
      
<router-outlet></router-outlet>
