<!-- <div class="bg-img">
<div class="container">
  </div>
  </div> -->

  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="assets/image/slide4.png" alt="picture" style="width:100%;">
    </div>

    <div class="item">
      <img src="assets/image/slide.jpg" alt="picture1" style="width:100%;">
    </div>

    <div class="item">
      <img src="assets/image/slide3.jpg" alt="" style="width:100%;">
    </div>

    <div class="item">
      <img src="assets/image/slide1.png" alt="" style="width:100%;">
    </div>

  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Prev</span>
  </a>

  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>

</div> -->
<!-- <div class="container">
</div> -->


<!-- NavBar -->

<div class="bg-img">
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand">Demo App</a>
      </div>
      <div class="top-right">
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About Us</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Employers</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
      </ul>
  </div>
</div>
</nav>
</div>
</div>

<!-- Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" (click)="openModal()">
    Register
  </button>
  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div class="modal " tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog " style="overflow-y:scroll; max-height:100%; margin-top: 0%; margin-bottom:100%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          <!-- <p>Model body text</p> -->
          
          <div class="col-md-12 form-group">
        
              <form>
                  <!-- <figure class="figure">
                      <img src="assets/image/contact.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure." style="width: 50px; height:50px ;">
                      <figcaption class="figure-caption text-right">A caption for the above image.</figcaption>
                    </figure> -->

                    <!-- <div class="container">
                        <h2>Card Image</h2>
                        <p>Image at the top (card-img-top):</p> -->
                        <div class="card" style="width:400px">
                          <img class="card-img-top" src="assets/image/contact.jpg" alt="Card image" style="width:30%">
                          <div class="card-body">
                            <!-- <h4 class="card-title">John Doe</h4> -->
                            <p class="card-text">upload your photo</p>
                            <!-- <a href="#" class="btn btn-primary">See Profile</a> -->
                          </div>
                        </div>
                        <!-- <br> -->
                        
                        <!-- <p>Image at the bottom (card-img-bottom):</p>
                        <div class="card" style="width:400px">
                          <div class="card-body">
                            <h4 class="card-title">Jane Doe</h4>
                            <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                          </div>
                          <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
                        </div> -->
                      <!-- </div> -->
                      

                <div class="row">
                <div class="col-md-6 form-group">
                  <input placeholder="First Name" class="form-control">
                </div>
          
                <div class="col-md-6 form-group">
                  <input placeholder="Last Name" class="form-control">
                </div>
          
                <div class="col-md-12 form-group">
                  <input placeholder="Email" class="form-control">
                </div>
          
                <div class="col-md-12 form-group">
                  <input placeholder="+91-9886204383" class="form-control">
                </div>

                <div class="col-md-12 form-group">
                    <label for="age">Age</label>
                    <input type="range" id="age" class="form-control-custom-range" min="20" max="60">
                  </div>
          
                <div class="col-md-12 form-group">
                  <select placeholder="State" class="form-control">
                    <!-- <option >State</option> -->
                    <option >Karnataka</option>
                    <option >Hyderabad</option>
                    <option >Tamilnadu</option>
                    <option >Hubli</option>
                  </select>
                </div>
          
                <div class="col-md-12 form-group">
                  <select placeholder="Country" class="form-control">
                    <!-- <option ></option> -->
                    <!-- <option >Country</option> -->
                    <option >India</option>
                    <option >Singapore</option>
                    <option >UK</option>
                    <option >SriLanka</option>
                  </select>               
                  </div>
          
                <div class="col-md-12 form-group">
                  <input placeholder="Address" class="form-control">
                </div>
                
                <div class="col-md-12 form-group">
                    <input placeholder="tags" class="form-control">
                  </div>

                  <!-- <div class="row">
                    <div class="md-col-4" class="badge badge-secondary">
                        <span >cricket</span>
                        <span class="badge badge-secondary">football</span>
                        <span class="badge badge-secondary">hockey</span>
                      </div>
                    <div class="md-col-4">
                    
                    </div>
                    <div class="md-col-4">
                    
                  </div>
                </div> -->

                  <div class="chip pink lighten-4">
                    cricket
                    <i class="close fas fa-times"></i>
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                  </div>
                  
                  <div class="chip pink lighten-4">
                      hockey
                      <i class="close fas fa-times"></i>
                      <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                    </div>
                    <div class="chip pink lighten-4">
                        football
                        <i class="close fas fa-times"></i>
                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                      </div>

                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="newsletter">
                    <label class="form-check-label" for="newsletter"> subscribe to newsletter</label>
                  </div>
                  
                  


              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
          <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal !-->
  <!-- Media top -->


 <div class="footer">
   <p>   hhvhjvh</p>
 </div>